<!-- Si no viene definida la Variable se define con un valor por default -->
<% name ||= 'Crear' %>

<h1><%= name %> Artículo</h1>
<%= form_for(@article, html: { id: "articles_form" }) do |f| %>
    <% @article.errors.full_messages.each do |error| %>
        <div class="lmx-error top top-space">
            * <%= error %>
        </div>
    <% end %>
    <div class="field">
        <!-- Se pueden utilizar las llaves {} o no RoR ya lo sabe -->
        <%= f.text_field :title, {placeholder: 'Titulo', class: 'form-control'} %>
    </div>
    <div class="field">
        Portada: <%= f.file_field :cover %>
    </div>
    <div class="field">
        <%= f.hidden_field :body, placeholder: 'Contenido del articulo', style: 'height:250px;', class: 'form-control', id: 'body-textarea' %>
        <%= f.hidden_field :markup_body, id: 'markup-body-textarea' %>
        <div id="epiceditor" style="height:350px;"></div>
    </div>
    <div class="field">
        <label>Categorias</label>
        <% @categories.each do |category| %>
            <div class="field">
                <%= check_box_tag 'categories[]', category.id %> <%= category.name %>
            </div>
        <% end %>
    </div>
    <div class="field">
        <%= f.submit 'Guardar', class: 'btn lmx-prime lmx-white' %>
    </div>
<% end %>

<script type="text/javascript">
    var editor = new EpicEditor({
        textarea: 'markup-body-textarea',
        file: {
            name: 'nuevo_articulo'
        }
    });

    editor.load();

    $('#articles_form').on('submit', function(){
        $('#body-textarea').val( editor.exportFile('nuevo_articulo', 'html') );
        $('#markup-body-textarea').val( editor.exportFile('nuevo_articulo') );
    });
</script>
